@use "./variables";

.nav-links {
  .v-btn {
    text-transform: none;
    color: variables.$color-gray-dark;
    transition: color 0.2s ease, opacity 0.2s ease;

    &:hover,
    &:active {
      color: variables.$accent-color;
      opacity: 0.8;
    }
  }
}
