@use "./variables";

.contact-page {
  h1 {
    color: variables.$accent-color;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    color: variables.$color-gray-muted;
    margin-bottom: 2rem;
  }
}
.confirmation-message {
  color: variables.$accent-color;
  font-size: 0.95rem;
  font-style: italic;
  text-align: center;
  margin-top: 1rem;
  transition: opacity 0.3s ease;
}
