@use "./variables";

.hero-wrapper {
  display: flex;
  justify-content: center;
  background: url("../assets/wallpaper.png") no-repeat center center;
  background-size: cover;
}

.text-block {
  padding-top: 30px;
  flex: 1;
  max-width: 500px;

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin-bottom: 8px;
    font-weight: 600;
  }

  .subheading {
    font-size: 1.5em;
    margin-bottom: 24px;
  }
}

.image-block {
  flex-shrink: 0;
  display: flex;
  align-items: stretch;
}

.portrait {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: 960px) {
    width: 100%;
  }
}
